---
import BaseLayout from '@layouts/BaseLayout.astro';
import Header from '@components/Header.astro';
import AboutSection from '@components/homepage/AboutSection.astro';
import ContactSection from '@components/homepage/ContactSection';
import ProjectGallery from '@components/homepage/ProjectGallery.astro';
import SplitScreenLayout from '@components/homepage/SplitScreenLayout.astro';
---

<BaseLayout title="Andrew Shindyapin Portfolio">
  <Header />
  
  <main>
    <SplitScreenLayout client:load>
      <div slot="left">
        <AboutSection />
        <ContactSection client:load />
      </div>
      <div slot="right">
        <ProjectGallery />
      </div>
    </SplitScreenLayout>
  </main>
</BaseLayout>

