---
import BaseLayout from '@layouts/BaseLayout.astro';
import Header from '@components/Header.astro';
import ProjectGrid from '@components/ProjectGrid.astro';
import Footer from '@components/Footer.astro';
---

<BaseLayout title="Andrew Shindyapin Portfolio">
  <Header />
  
  <main class="flex-1 pt-20 px-4 sm:px-6 lg:px-8 max-w-7xl mx-auto pb-20">
    <h1 class="sr-only">Portfolio Projects</h1>
    <ProjectGrid />
  </main>
  
  <Footer />
</BaseLayout>