---
const currentYear = new Date().getFullYear();
---

<footer class="mt-auto py-6 px-6 border-t border-gray-200 dark:border-gray-800">
  <div class="max-w-6xl mx-auto text-center">
    <p class="text-sm text-gray-600 dark:text-gray-400">
      All rights reserved. © Andrew Shindyapin {currentYear}
    </p>
  </div>
</footer>